<!-- 右侧区域 -->
<div class="gr-wrapper-table">
	<!-- 通用顶部的从左侧弹出的组件 -->
	<app-riccio-pop-up-right></app-riccio-pop-up-right>
	<!-- 主体页面 -->
	<div class="wrapper-table-top">
		<div class="table-top-title">
			<a href="javascript:;" 
			   class="font18">
			   已禁用成员
			</a>
			<span class="font12 color999">(<em>{{DisableUserData.total}}</em>人)</span>
		</div>
	</div>
	<div class="wrapper-filter clearfix">

		<div class="gr-search-main f-l">
			<i class="iconfont_console console-search1"></i>
			<form>
				<input class="gr-search" 
					   type="" 
					   name="" 
					   #Search 
					   placeholder="搜索姓名、工号、用户名" 
					   (blur)="FnSearchList(Search.value,'blur')">
				<button type="submit" (click)="FnSearchList(Search.value,'enter')" style="display: none"></button>
			</form>
		</div>

	</div>
	<div class="wrapper-content">

		<table class="table table-hover gr-table">
			<colgroup>
	    		<col width="30">
	    		<col width="60">
	    		<col width="60">
	    		<col width="70">
	    		<col width="70">
	    		<col width="60">
	    		<col width="100">
	    		<col width="60">
	    		<col width="100">
	    		<col width="60">
	    		<col width="100">
	    		<col width="60">
	    	</colgroup>
			<thead class="hand">
			    <tr>
			        <th class="th-checkbox">
			            <a href="javascript:;"
			               class="customer-check"
			               (click)="FnShowPopUp(null,'all')">
			                <i class="iconfont_console  {{allCheckIs==true?'console-check1 iconColorNormal':'console-check'}}"></i>
			            </a>
			        </th>
			        <th *ngFor="let name of TableTitle">
			            {{name}}
			        </th>
			        <th class="th-checkbox">操作</th>
			    </tr>
			</thead>
		</table>
		<div class="wrapper-table" *ngIf = "loadingType=='hide'">
			<table class="table table-hover gr-table">
				<colgroup>
		    		<col width="30">
		    		<col width="60">
		    		<col width="60">
		    		<col width="70">
		    		<col width="70">
		    		<col width="60">
		    		<col width="100">
		    		<col width="60">
		    		<col width="100">
		    		<col width="60">
		    		<col width="100">
		    		<col width="60">
		    	</colgroup>
				<tbody id="undetails">

				    <tr *ngFor = "let list of DisableUserData['data']">
				        <td class="td-checkbox">
				            <a href="javascript:;" 
				               class="customer-check gr-checkbox"
				               (click)="FnShowPopUp(list)">
				                <i class="iconfont_console  {{list.isCheck==true?'console-check1 iconColorNormal':'console-check'}}">
				                </i>
				            </a>
				        </td>
				        <td class="customer-content">
							<img src="{{list.thumb}}" 
								 *ngIf = "errorImg == false"
							     alt="" 
							     (error)="errorImg = true" 
							     width="30">
							<img src="assets/img/thumb.png" 
								 *ngIf = "errorImg == true"
							     alt=""
							     width="30">
				        </td>
				        <td class="customer-content">
						{{list.name}}
				        </td>
				        <td class="customer-content">
						{{list.parent_name}}
				        </td>
				        <td class="customer-content">
						{{list.department?list.department.name:''}}
				        </td>
				        <td class="customer-content">
						{{list.status==1?'正常':'禁用'}}
				        </td>
				        <td class="customer-content">
						{{list.phone}}
				        </td>
				        <td class="customer-content">
						{{list.real_name}}
				        </td>
				        <td class="customer-content">
						{{list.email}}
				        </td>
				        <td class="customer-content">
						{{list.sex==1?'男':'女'}}
				        </td>
				        <td class="customer-content">
						{{list.jointime}}
				        </td>
				        <td class="td-status">
				            <a href="javascript:;" 
				               class="selectDepartment" 
				               (click)="FnSetOpen(list)">启用</a>
				        </td>
				    </tr>
				    
				</tbody>
			</table>
		</div>

	    <!-- loading组件 -->
		<app-riccio-spinners [type]="loadingType"
							 [emptyText]="'无禁用成员'"></app-riccio-spinners>

	</div>


</div>

<!-- 模态弹窗提示 -->
<app-riccio-modal>
	<div body>
		<p style="margin-bottom: 20px;">是否启用所选成员</p>
	</div>
</app-riccio-modal>

<!-- pbox组件 -->
<app-riccio-pbox></app-riccio-pbox>
