<!-- <div class="gr-navbar-title">
	<div class="navbar-text">
		<i class="iconfont_console "></i>
		<span>企业设置</span>
	</div>
	<div class="navbar-menu f-r">
		<ul class="menu-ul clearfix">
			<li class="menu-ul-li f-l {{RouterActive==''?'active':''}}"><a href="javascript:;" routerLink="./" (click)="RouterActive=''">基本信息</a></li>
			<li class="menu-ul-li f-l {{RouterActive=='logo'?'active':''}}"><a href="javascript:;" routerLink="logo" (click)="RouterActive='logo'">企业标识</a></li>
			<li class="menu-ul-li f-l {{RouterActive=='certification'?'active':''}}"><a href="javascript:;" routerLink="certification" (click)="RouterActive='certification'">企业认证</a></li>
		</ul>
	</div>
</div> -->

<router-outlet></router-outlet>