<div class="record">
  <div class="record-header">
    <span>沟通记录</span>
  </div>
  <div class="recordBody">
    <ul>
      <li class="clear">
        <div class="left">
          <img src="../../assets/gongdan/工单详情03.png">
        </div>
        <div class="left record-right">
          <div><span class="label">客户名称：</span><span>我就是想测试一下工单系统，查看流程操作！</span></div>
          <div>
            <img src="../../assets/gongdan/工单详情01.jpg">
            <img src="../../assets/gongdan/工单详情02.jpg">
          </div>
          <div class="label">2017-09-20 11:24:44</div>
        </div>
      </li>
      <li class="clear">
        <div class="left">
          <img src="../../assets/gongdan/工单详情04.jpg">
        </div>
        <div class="left record-right">
          <div><span class="label">客户名称：</span><span>我就是想测试一下工单系统，查看流程操作！</span></div>
          <div class="label">2017-09-20 11:24:44</div>
        </div>
      </li>
      <li class="clear">
        <div class="left">
          <img src="../../assets/gongdan/工单详情04.jpg">
        </div>
        <div class="left record-right">
          <div><span class="label">客户名称：</span><span>我就是想测试一下工单系统，查看流程操作！</span></div>
          <div class="label">2017-09-20 11:24:44</div>
        </div>
      </li>
    </ul>
  </div>
</div>
