.selectDepartment{
	left: 30px;
    top: 8px;
}


ul.manager-ul{
	li.manager-ul-li{
	    background-color: #E5F1FF;
	    padding: 0 10px;
	    line-height: 24px;
	    display: inline-block;
	    margin:0 5px 0 0;
	    i{
	    	cursor: pointer;
	    	color: #69d0d1;
	    }
	}
}