$black:#373D41;
$menuLi:#4A5064;
$menuLiActive:#00C1DE;
$secoundMenuBackground:#EAEDF1;

$buttonColorNormal:#00C1DE;
$buttonColorInfo:#00C1DE;
$buttonColorDanger:#FF7663;
$buttonColorMajor:#28b779;

$textColorLink: #00C1DE;
$textColorTitle: #6F8092;

$fontWeight:500;

$tableTrHover:#f7faff;
