<div class="body-content">

        <app-role-authority-view [viewData]="competenceData.chilren"
        				         [parentData] = "competenceData"
        				         [constParent]="[competenceData]"
        				         [constParentParent]="constParentParent"
        				         [level]="competenceData.level"
                                 [name]="competenceData.name"
                                 [ID]="competenceData.id"
                                 [isCheck]="competenceData.isCheck"></app-role-authority-view>

</div>