
<div class="modal-dialog" #Modal>

    <div class="modal-content">
        <div>

            <div class="modal-header">
                <a href="javascript:;" class="modal-close" (click)="CloseBack()">
                    <i class="iconfont_admin  admin-iconfontcha"></i>
                </a>
                <h3 class="modal-title">添加员工</h3>
            </div>
            <div class="modal-body">
		        <form  class="form-horizontal c-f">

						<div  class="form-group c-f "
							  *ngFor="let list of ShowAddView">
				            <label  class="col-sm-2 control-label line-40">{{list.name}}:</label>
				            <div  class="col-sm-10 control-panel">
				                <input  class="form-control" 
				                	    name="{{list.action}}" 
				                	    placeholder="{{list.name}}" 
				                	    style=""
				                	    type="{{list.action==='password'?'password':''}}" 
				                        [(ngModel)]="UserAddData[list.action]"
				                        [ngClass]="{'danger':redShow&&!(UserAddData[list.action])}"
				                        *ngIf="list.type==='input'"
				                        [readonly]="list.action==='parentid'?true:false"
				                        (focus)="redShow=false">
				                <div class="thumb-img" *ngIf = "list.type==='img'">
				                	<img src="{{UserAddData[list.action]}}" alt="" width="40px" height="40px">
				                </div>
				                <div class="sex-button" *ngIf = "list.type==='button'">
				                	<a href="javascript:;" 
				                	   class="" 
				                	   [ngClass]="{'man':UserAddData[list.action]==1}"
				                	   (click)="UserAddData[list.action]=1">
				                	   <i class="iconfont_admin  admin-nan"></i></a>
				                	<a href="javascript:;" 
				                	   class="" 
				                	   [ngClass]="{'woman':UserAddData[list.action]==2}"
				                	   (click)="UserAddData[list.action]=2">
				                	   <i class="iconfont_admin  admin-ttpodicon"></i></a>
				                </div>
				            </div>
				        </div>

				    <div  class="form-group c-f footer-border">
				        <div  class="col-sm-6 control-panel c-f">
				            	<a href="javascript:;" class="f-r close" (click)="CloseBack()">取消</a>
				            	<button  class="btn btn-primary pull-right f-r save" 
				            			 type="submit" 
				            			 (click)="FnAddUser();redShow=true">添加</button>
				        </div>
				    </div>
				</form>
            </div>
        </div>
    </div>
</div>
