@import '../account.component.scss';
@import '../../../../Public/theme/common/variable.scss';


.incomeExpense{
    .tableList{
        top:0px;
        left: 0px;
        padding: 0 15px 0 15px;
        box-shadow: none;
        border: 1px solid $headBorderColor;
        .tableTop{
            border-bottom: none;
            .headLeft{
                padding: 0;
                .control-panel{
                    min-height: 38px;
                }
                .word{
                    float: left;
                }
                .recent{
                    background: #Fff;
                    background: transparent;
                    border: none;
                    outline: none;
                    color:$textColorLink;
                    padding: 1px 6px;
                    font-size: 12px;
                    border-radius: 3px;
                    margin-right: 5px;
                    &.active{
                        border: 1px solid $textColorLink;
                    }
                }
                .searchBtn{
                    padding: 5px 15px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }
                .select-cp {
                    position: relative;
                    padding: 10px;
                    .select{
                        border: 1px solid #eaeff1;
                        background: #fff;
                        padding-left:10px;
                        padding-right:32px;
                        border-radius: 5px;
                        text-align: left;
                        line-height: 35px;
                        cursor: pointer;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .countPar{
                        position: relative;
                        .count{
                            border: 1px solid #eaeff1;
                            outline: none;
                            line-height: 20px;
                            margin: 4px 0;
                            padding: 4px 4px 4px 16px;
                        }
                        &::after{
                            content: '¥';
                            display: inline-block;
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            height: 100%;
                            line-height: 30px;
                            padding: 0 6px;
                            color: rgba(0,0,0,0.2);
                        }
                    }
                    .down{
                        position: absolute;
                        width: 30px;
                        color: rgba(0, 0, 0, 0.32);
                        font-size: 20px;
                        right: 10px;
                        z-index: 2;
                        height: 35px;
                        line-height: 35px;
                    }
                }
            }
        }
        .incomeTable{
            box-shadow: none;
            border: 1px solid $headBorderColor;
        }
    }
}