<div class="matter-main">
	
	<ul>
		<li class="color999">
			1、文章内容必须属于合法内容，如有负面、涉政、敏感等一律不予发布并停止账号使用
		</li>
		<li class="color999">
			2、文章提交发布后不可修改、取消或删除，请在提交之前确认好文章内容。
		</li>
		<li class="color999">
			3、一篇文章的发布时间为1-48小时以内，平均大约花费6小时。
		</li>
		<li class="color999">
			4、审稿时间为：周一至周五 09:00-18:00，下午16点后提交的文章在隔天发布。
		</li>
		<li class="color999">
			5、所选媒体可能会因为审稿不达标，导致个别所选媒体不能发布，届时会建议您更换媒体或退款。
		</li>
		<li class="color999">
			6、不能带网址的一律不能带电话、QQ、微信等信息，百度新闻源根据文章质量不保证100%收录。
		</li>
		<li class="color999">
			7、文章标题20字以内，内容2500字以内，图片2张内，媒体可能会对文章进行适当的调整，属于正常情况。
		</li>
		<li class="color999">
			8、文章中包含的网址、电话、图片过大、图片过多等，媒体会根据内容规范进行调整或者删   减，属于正常情况。
		</li>
	</ul>


	<div class="button">
		<button class="gr-btn gr-btn-primary" (click)="fnEmitShowCode()">确定</button>
		<a href="javascript:;" class="gr-btn gr-btn-link" (click)="closer()">我已了解</a>
	</div>

</div>