@import "../../../../Public/theme/common/variable.scss";

.selectDepartment{
    font-weight: bolder;
    i{
    	display: inline-block;
    	color: $textColorLink !important;
    }
}


.gr-wrapper-table{
	top: 69px;
	left: 15px;
	right: 10px;
}

.wrapper-content{
	padding-top: 25px;
    margin-top: 5px;
}