.members-main{
	position: relative;
    height: 100%;
    width: 100%;
    top: 66px;
    .header{
    	position: absolute;
    	left: 20px;
    }
}

.gr-wrapper-table{
	top: 46px;
    left: 20px;
    right: 20px;
    .wrapper-content{
        border: 1px solid #e1e6eb;
    }
}
