@import "../../../../Public/theme/common/variable.scss";

$headBorderColor:#efefef;
$textColor:#797979;

input{
    padding: 10px;
    border: 1px solid $headBorderColor;
    border-radius: 5px;
    outline: none;
}
.scene{
    position: fixed;
    right: 0px;
    top: 52px;
    bottom: 0px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
    width: 420px;
    z-index: 800;
    overflow-y: auto;
    background: #fff;
    .modal-dialog{
        width: 600px;
    }

    .modal-content {
        border: 0;
        padding: 30px;
        background-color: #fff;
        width: 100%;
    }

    .modal-body {
        padding: 10px 0px;
        .member-action{
            margin-top: 20px;
        }
        .search{
            width: 100%;
            height: 36px;
            line-height: 36px;
            #{'/deep/'}{
                input{
                    width: 80%;
                }
            }
            a{
                padding-left: 15px;
                color:$textColor;
            }
        }
        .sname{
            .title{
                font-size: 14px;
                color: $textColor;
            }
            input{
                width: 50%;
                margin-right: 20px;
            }
            button{
                height: 30px;
                padding: 0 20px;
                line-height: 30px;
                font-size: 12px;
                font-weight: 400;
            }
        }
        .conditions{
            .status,
            .products,
            .excus,
            .services,
            .starttime,
            .endtime{
                padding: 20px 0 10px 0;
                border-bottom: 1px solid $headBorderColor;
                .title{
                    font-size: 14px;
                    color: $textColor;
                }
                .option{
                    border: none;
                    outline: none;
                    background: #fff;
                    background: transparent;
                    padding: 5px 10px;
                    margin-left: 10px;
                    margin-top: 10px;
                    border-radius: 2px;
                    cursor: pointer;
                    &.active{
                        background: $textColorLink;
                        color:#fff;
                    }
                    &.noActive{
                        background: $buttonColorDanger;
                        color:#fff;
                    }
                    i{
                        position: relative;
                        top: 2px;
                    }
                }
                .show{
                    float: right;
                    background: #666;
                    color:#fff;
                    margin-top: 8px;
                    padding: 2px 4px;
                }
                .word{
                    padding:0px 5px;
                }
                .selectTime{
                    display: inline-block;
                    width: 42%;
                    height: 36px;
                    line-height: 36px;
                    padding: 0px 10px;
                    border: 1px solid $headBorderColor;
                    border-radius: 5px;
                    position: relative;
                    margin-left: 10px;
                    margin-top: 10px;
                    .select{
                        cursor: pointer;
                    }
                    .down{
                        position: absolute;
                        right: 10px;
                        top: 0px;
                        bottom: 0px;
                        line-height: 36px;
                    }
                    &.end{
                        margin-left: 0px;
                    }
                }
            }
        }
    }

    .modal-body .sure-card p {
        color: #333;
        font-size: 15px
    }

    .modal-footer {
        padding: 15px 0
    }


    /*项目列表样式修改*/
    .select-member-panel  .member-panel-body li.member{
        padding: 5px
    }

    .department-list ul>ul{
        overflow:hidden;
    }


    .gr-btn{
        border-radius: 3px;
        font-weight: 500;
        border: 0;
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        white-space: nowrap;
        padding: 8px 36px;
        font-size: 14px;
        line-height: 1.42857143;
        -moz-user-select: none;
        user-select: none;
        outline: none;
        &[disabled]{
            cursor: not-allowed;
            opacity: .8;
        }
        &.gr-btn-success{
            color: #fff;
            background-color: $buttonColorNormal;
        }
        &.gr-btn-danger{
            color: #fff;
            background-color: $buttonColorDanger;
        }
        &.gr-btn-link{
            color: #999999;
            padding: 8px 25px;
        }
    }
}