.gdDetailStepBar{
  .picture{
    li{
      display: inline-block;
    }
    li:nth-child(odd){

    }
    li:nth-child(even){
      width: 28%;
      margin: 0px -4px;
      img{
        width: 100%;
      }
    }
    li:first-child{
      margin-left: 5.6%;
    }
  }
  .desc{
    li{
      display: inline-block;
      font-size: 13px;
      color: #aaaaaa;
      text-align: center;
      margin-top: 10px;
    }
    li:nth-child(1){
      margin-left: calc(11% - 104px);
      color: #447bd4;
    }
    li:nth-child(2){
      margin-left: calc(29% - 78px);
      color: #447bd4;
    }
    li:nth-child(3){
      margin-left: calc(30% - 78px);
    }
    li:nth-child(4){
      margin-left: calc(28% - 110px);
    }
  }
}

.shiftDown{
  position: relative;
  bottom: -10px;
}
.isActive{
  color: #447bd4 !important;
}
