@import "../gongdan.common.scss";

.submitStepTwo{
  background-color: #FFF;
  margin: 16px;
  border-radius:5px;
  border: 1px solid #eaeaea;
  .remind {
    .remind-header {
      border-bottom: 1px solid #eaeaea;
      padding: 16px 36px;
      background-color: #f8f8f8;
      span {
        color: #ff6700;
        padding-right: 20px;
      }
      span:first-child {
        color: #818181;
      }
    }
    .remind-body{
      padding: 30px 20px;
      border-bottom: 1px solid #eaeaea;
    }
  }
  .classify{
    .classify-header{
      border-bottom: 1px solid #eaeaea;
      padding: 16px 36px;
      background-color: #f8f8f8;
      span{
        padding-bottom: 17px;
        border-bottom: 1px solid #447bd4;
      }
    }
    .classify-body{
      padding: 16px 36px;
      .select{
        width: 56%;
        border: 1px solid #dddddd;
        li{
          font-size: 14px;
          padding: 12px 16px;
          cursor: pointer;
          span:last-child{
            color: #aaaaaa;
            float: right;
          }
        }
        li:not(:last-child){
          border-bottom: 1px solid #dddddd;
        }
        li:nth-child(even){
          background-color: #fafafa;
        }
      }
      .right{
        width: 43%;
        .hotArticle{
          border:1px solid #dddddd;
          margin-bottom: 10px;
          padding: 5px 14px;
          .title{
            padding: 10px 5px;
            border-bottom: 1px dashed #e5e5e5;
            font-size: 14px;
            font-weight: 700;
          }
          ul{
            padding: 10px 0px;

            li{
              padding: 5px 5px;
            }
          }
        }
        .hotIssue{
          border:1px solid #dddddd;
          padding: 66px 0;
          color: #aaaaaa;
          text-align: center;
          i{
            font-size: 26px;
            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
}
