<div class=" remind-body">
  <div class="stepBar">
    <app-gd-detail-step-bar></app-gd-detail-step-bar>
  </div>
  <div class="issueDesc clear">
    <div class="left">
      <div class="issueTitle">
        <span class="label">问题标题：</span>
        <span>这里是想测试一下工单系统，带来不便请谅解</span>
      </div>
      <div class="issueContent">
        <ul>
          <li><span class="label">工单编号：</span><span>SDFASDFASF</span></li>
          <li><span class="label">提交时间：</span><span>2017-09-20 11：24：43</span></li>
          <li><span class="label">状态：</span><span>正在为您处理</span></li>
        </ul>
      </div>
    </div>
    <div class="right issueRight">
      <span class="close">关闭工单</span>
      <span class="delete">删除工单</span>
    </div>
  </div>
</div>
