<div class="modal-body" [@smallBig]="'in'">
    <div class="select-member-area">
        <div class="row select-member-panel">
            <div class="member-all">
                <div class="member-panel-header">
                    <span class="">请选择成员</span>
                    <button class="closeBtn iconfont_admin admin-iconfontquxiao" (click)="fnClose()"></button>
                </div>

                <div class="member-panel-body">
					<div class="search-container">
                        <div class="search-area-modal">
                        	<i class="iconfont_admin  admin-search1"></i>
                            <input type="text"
                                   name="searchName"
                                   [(ngModel)]="membersName"
                                   (ngModelChange)="searchMembers(membersName)"
                                   placeholder="请输入员工姓名"
                                   #term>
                        </div>
                    </div>
                    <ul *ngIf = "!loading">
                        <li class="member"
                            *ngFor = "let list of membersList"
                            (click)="fnEmitTransferData(list)">
                            <div class="xm-avatar xm-avatar-30 " 
                                 title="grsaas" 
                                 member="member" 
                                 size="30" 
                                 name="true">
                                <span class="xm-avatar-def" 
                                      style="background-color: rgb(239, 123, 164);">
                                    <div class="ng-binding">
                                        {{list.sliceName}}
                                    </div>
                                </span>
                                <div class="xm-avatar-name">{{list.name}}</div>
                            </div>
                            <span class="btn-link-remove f-r">
                                  <i class="iconfont_admin "></i>
                            </span>
                        </li>
                        <span class="more" [ngClass]="{'noMore':!moreBtn.status}" (click)="fnShowMore()">{{moreBtn.text}}</span>
                    </ul>                       
                    <div class="loading-indicator" *ngIf = "loading">
                        <div class="hor-center">
                            <h4 class="ng-binding">
                                正在努力加载中，请稍候
                                <div class="loading-ellipsis">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                  <div class="bounce3"></div>
                                </div>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>