<div class="console-index">
    <div class="top">
        <div class="userInfo">
            <div class="thumb">
                <i class="iconfont_console console-gerenshezhi color999"></i>
            </div>
            <div class="info">
                <div class="name">
                    <span>欢迎您，陈波源</span>
                </div>
                <div class="secure">
                    <div class="enter">
                        <a href="javascript:;">实名认证</a>
                    </div>
                    <div class="enter">
                        <a href="javascript:;">账户安全</a>
                    </div>
                    <div class="enter">
                        <a href="javascript:;">个人中心</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="account">
            <div class="balance">
                <div class="title">
                    账户余额
                </div>
                <div class="countMain">
                    <span class="count">0.00</span>
                    <span>元</span>
                </div>
            </div>
            <div class="action">
                <div class="enter recharge">
                    <a href="javascript:;">充值</a>
                </div>
                <div class="enter">
                    <a href="javascript:;">消费记录</a>
                </div>
                <div class="enter">
                    <a href="javascript:;">收支明细</a>
                </div>
                <div class="enter">
                    <a href="javascript:;">代金券</a>
                </div>
                <div class="enter">
                    <a href="javascript:;">开发票</a>
                </div>
            </div>
        </div>
        <div class="matter">
            <div class="title">
                待办事项
            </div>
            <div class="matterMain">
                <ul>
                    <li class="m">
                        <div>
                            <span class="count">0</span>
                            <span>个产品与服务即将到期（30天内到期)</span>
                        </div>
                        <a href="javascript:;">去续费</a>
                    </li>
                    <li class="m">
                        <div>
                            <span class="count">0</span>
                            <span>个订单待支付</span>
                        </div>
                        <a href="javascript:;">去支付</a>
                    </li>
                    <li class="m">
                        <div>
                            <span class="count">0</span>
                            <span>个工单待处理</span>
                        </div>
                        <a href="javascript:;">去处理</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="product">
            <div class="title">
                已开通的产品与服务
            </div>
            <div class="products">
                <div class="one">
                    <div class="thumb">
                        <i class="iconfont_console console-iconfontcanyu2 color999"></i>
                    </div>
                    <div class="detail">
                        <div class="title">域名管理</div>
                        <div class="count">
                            <span>0</span>个
                        </div>
                    </div>
                </div>
                <div class="one">
                    <div class="thumb">
                        <i class="iconfont_console console-iconfontcanyu2 color999"></i>
                    </div>
                    <div class="detail">
                        <div class="title">企业邮箱</div>
                        <div class="count">
                            <span>0</span>个
                        </div>
                    </div>
                </div>
                <div class="one">
                    <div class="thumb">
                        <i class="iconfont_console console-iconfontcanyu2 color999"></i>
                    </div>
                    <div class="detail">
                        <div class="title">网站管理</div>
                        <div class="count">
                            <span>0</span>个
                        </div>
                    </div>
                </div>
                <div class="one">
                    <div class="thumb">
                        <i class="iconfont_console console-iconfontcanyu2 color999"></i>
                    </div>
                    <div class="detail">
                        <div class="title">百搜百应</div>
                        <div class="count">
                            <span>0</span>套
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="notice">
            <div class="tabs">
                <ul class="tab">
                    <li>
                        <a href="javascript:;">全部公告</a>
                    </li>
                    <li>
                        <a href="javascript:;">产品公告</a>
                    </li>
                    <li>
                        <a href="javascript:;">域名公告</a>
                    </li>
                    <li>
                        <a href="javascript:;">活动公告</a>
                    </li>
                </ul>
                <a href="javascript:;">更多</a>
            </div>
            <ul class="notices">
                <li class="n">
                    <a href="javascript:;" class="color333">国人在线十一、中秋假期服务公告</a>
                    <span class="color999">2017-09-25</span>
                </li>
                <li class="n">
                    <a href="javascript:;" class="color333">国人在线十一、中秋假期服务公告</a>
                    <span class="color999">2017-09-25</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="bottom">

    </div>
</div>