@import "../../../Admin.value.scss";

$statusYes:#7EC856;
$statusNo:#F37263;
$successColor:#55BD47;
$dangerColor:#FF6600;
.module-header{
    height: 56px;
    .title,
    .flex-panel{
        height:56px;
        line-height: 56px;
        padding: 0px;
    }
    .title{
        font-size: 14px;
    }
    .flex-panel{
        a{
            padding: 0px;
        }
        .rightTab{
            a{
                font-size: 14px !important;
                // color:$themeColor !important;
                border-radius: 0px;
                padding-left:16px !important;
                padding-right:16px !important;
                // border-bottom: 2px solid $themeColor;
            }
        }
        .mainTab{
            a{
                font-size: 14px !important;
                color:$themeColor !important;
                border-radius: 0px;
                padding-left:16px !important;
                padding-right:16px !important;
                border-bottom: 2px solid $themeColor;
            }
        }
    }
}
.module-body{
    margin-bottom: 30px;
    .modal-content{
        margin-top:0px;
    }
    .title,
    .module-header{
        height:54px;
        line-height: 54px;
    }
    .module-header{
        height: 60px !important;
        line-height: 60px;
        .title{
            transition: all 0.7s;
            .title-w{
                font-size: 12px;
                padding-left:10px;
                margin-right: 20px;
                a{
                    color:#adadad !important;
                }
                
            }
            .title-active{
                font-size: 14px;
                a{
                    color:#666 !important;
                }
                border-left:2px solid $themeColor;
            }
        }
        .f-r{
            height:30px;
            margin-top:12px;
        }
        .addBtn{
            margin-right: 8px;
        }
        .tableTop{
            border-bottom: none;
            .headLeft{
                padding: 0;
                .control-panel{
                    min-height: 38px;
                }
                .word{
                    float: left;
                }
                .recent{
                    background: #Fff;
                    background: transparent;
                    border: none;
                    outline: none;
                    color:$themeColor;
                    padding: 1px 6px;
                    font-size: 12px;
                    border-radius: 3px;
                    margin-right: 5px;
                    &.active{
                        border: 1px solid $themeColor;
                    }
                }
                .searchBtn{
                    padding: 5px 15px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }
                .select-cp {
                    position: relative;
                    height: 38px;
                    padding: 10px;
                    .select{
                        border: 1px solid #eaeff1;
                        background: #fff;
                        padding-left:10px;
                        padding-right:20px;
                        border-radius: 5px;
                        text-align: left;
                        line-height: 38px;
                        cursor: pointer;
                    }
                    .down{
                        position: absolute;
                        width: 30px;
                        color: rgba(0, 0, 0, 0.32);
                        font-size: 20px;
                        right: 10px;
                        z-index: 2;
                        height: 38px;
                        line-height: 38px;
                    }
                }
            }
        }
    }
    .tempList{
        .integration-header{
            height: 54px;
            line-height: 54px;
            margin-bottom:10px;
            margin-top: 10px;
            .searchBtn{
                &:hover{
                    background: $themeColor;
                }
            }
            .noneBtn{
                height: 0px;
                width: 0px;
            }
            .control-panel{
                padding-left:0px;
                select,
                input,
                button{
                    width: 100%;
                    height: 38px;
                    margin-top:8px;
                    outline: none;
                    box-shadow: none;
                }
                button{
                    padding: 0px;
                }
            }
            .select-cp {
                position: relative;
                height: 38px;
                .select{
                    border: 1px solid #eaeff1;
                    background: #fff;
                    padding-left:20px;
                    padding-right:20px;
                    border-radius: 5px;
                    text-align: left;
                    height: 38px;
                    line-height: 38px;
                    margin-top: 8px;
                    cursor: pointer;
                }
                .down{
                    position: absolute;
                    width: 40px;
                    color: rgba(0, 0, 0, 0.32);
                    font-size: 20px;
                    top: 8px;
                    right: 10px;
                    z-index: 2;
                    height: 38px;
                    line-height: 42px;
                }
            }
        }
        .customer-list{
            margin-top: 0px;
            .flyLeftContent{
                height: 60px;
                top:-114px;
                left: -25px;
            }
        }
    }
    .lc-table{
        .table-head{
            color:#818181;
        }
        .customer-content{
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            .name,
            .action{
                display: block;
                line-height: 18px;
            }
            .name{
                padding-top: 8px;
            }
            .action{
                padding-bottom: 8px;
                color:#ccc;
                font-size: 12px;
            }
            .change{
                font-weight: 700;
                &.add{
                    color:$successColor;
                }
                &.reduce{
                    color:$dangerColor;
                }
            }
        }
        .customer-director{
            input{
                width:40px;
                outline: none;
            }
        }
        .customer-name{
            text-align: left;
            padding-left:25px;
        }
        .customer-level{
            a{
                margin-left: 3px;
                margin-right: 3px;
            }
            .login{
                color:#e2e2e2;
            }
        }
        .noImg{
            color:#999;
            font-size: 18px;
        }
        .logo{
            width: 45px;
        }
        .status{
            display: inline-block;
            height: 8px;
            width: 8px;
            margin-right: 5px;
            border-radius: 50%;
            background: black;
        }
        .statuYes{
            background: $statusYes;
        }
        .statuNo{
            background: $statusNo;
        }
    }
}
.table-scroll-p{
    top:130px;
    bottom: 60px; 
}

.configModal{
    .modalBase{
        .f-select{
            .selectDef{
                color:#a2a2a2;
            }
            .form-control{
                cursor: pointer;
                line-height: 36px;
                padding: 0px;
                padding-left: 16px;
            }
            .control-label{
                vertical-align: top;
            }
            .down{
                color:#999;
                float: right;
                margin-right: 8px;
                height: 36px;
                line-height: 36px;
            }
        }
        .f-pos{
            .pos{
                width: 32.5%;
                display: inline-block;
            }
        }
    }
}
