            <form class="gr-form-horizontal c-f">
                <div class="form-group c-f">
                    <label class="col-sm-3 control-label t-r">
                        链接
                    </label>
                    <div class="col-sm-9 control-panel">
                        <input name=""  
                             class="form-control" 
                             placeholder="星牛云"   
                             style="">
                    </div>
                </div>
            </form>