<div class="info-main">
	
	<ul class="info-ul">
		<li class="info-ul-li clearfix">
			<div class="">
				<span class="title">网站连接:</span>
				<span class="text">
					<a href="{{data.media_url_in}}" target="_blank">官网</a>
				</span>
			</div>
		</li>
		<li class="info-ul-li clearfix">
			<div class="left">
				<span class="title">媒体名称:</span>
				<span class="text">{{data.media_name}}</span>
			</div>
			<div class="right">
				<span class="title">媒体价格:</span>
				<span class="text">{{data.media_price}}</span>
			</div>
		</li>
		<li class="info-ul-li clearfix">
			<div class="left">
				<span class="title">媒体分类:</span>
				<span class="text">{{data.media_type}}</span>
			</div>
			<div class="right">
				<span class="title">媒体价格:</span>
				<span class="text">{{data.media_price}}</span>
			</div>
		</li>
		<li class="info-ul-li clearfix">
			<div class="left">
				<span class="title">连接分类:</span>
				<span class="text">{{data.media_link}}</span>
			</div>
			<div class="right">
				<span class="title">新闻源:</span>
				<span class="text">{{data.media_news}}</span>
			</div>
		</li>
		<li class="info-ul-li clearfix">
			<div class="">
				<span class="title">其它备注:</span>
				<span class="text">{{data.media_memo}}</span>
			</div>
		</li>
	</ul>

</div>