<div class="order-list">

	<!-- 列表头部信息 -->
	<app-ruanwen-list-header [header]="'软文订单'"
							 [searchTitle]="'订单名称'"
							 [statusTitle]="'发布状态'"
							 [statusValue]='searchStatus'
							 (emitSearch)="fnEmitSearch($event)"></app-ruanwen-list-header>

	<div class="order-main">

		<div class="gr-wrapper-table">

			<div class="wrapper-content">
				<!-- 所有员工列表 -->
				<table class="table table-hover gr-table">
					<colgroup>
			    		<col width="80">
			    		<col width="80">
			    		<col width="80">
			    		<col width="80">
			    		<col width="80">
			    		<col width="80">
			    		<col width="80">
			    	</colgroup>
					<thead class="hand">
					    <tr>
					        <th *ngFor="let name of tableTitle">
					            {{name}}
					        </th>
					    </tr>
					</thead>
				</table>
				<div class="wrapper-table">
					<table class="table table-hover gr-table" *ngIf = "loadingType=='hide'">
						<colgroup>
				    		<col width="80">
				    		<col width="80">
				    		<col width="80">
				    		<col width="80">
				    		<col width="80">
				    		<col width="80">
				    		<col width="80">
				    	</colgroup>
						<tbody id="undetails">
						    <tr *ngFor = "let list of orderItem">
						        <td class="customer-content">
								{{list.number}}
						        </td>
						        <td class="customer-content">
								{{list.order_name}}
						        </td>
						        <td class="customer-content">
								{{list.created_at}}
						        </td>
						        <td class="customer-content" >
								{{list.finish_count?list.finish_count:'0'}} / {{list.total_count}}
						        </td>
						        <td class="customer-content" >
								<em class="text-green">¥ {{list.finish_amount?list.finish_amount:'0.00'}}</em> / ¥ {{list.final_amount}}
						        </td>
						        <td class="customer-content" >
								{{list.name}}
						        </td>
						        <td class="customer-content" [ngSwitch]="rootType">

						        	<ng-template [ngSwitchCase]="'list'">
							        	<span class="status {{list.status==1
															  ?'yellow'
															  :list.status==2
															  ?'green'
															  :list.status==3
															  ?'ash'
															  :''}}"></span>
										{{list.status==1
										  ?'进行中'
										  :list.status==2
										  ?'已完成'
										  :list.status==3
										  ?'草稿'
										  :''}}
						        	</ng-template>
						        	<ng-template [ngSwitchCase]="'write'">
							        	<span class="status {{list.status==4
															  ?'yellow'
															  :list.status==5
															  ?'green'
															  :list.status==1
															  ?'ash'
															  :''}}"></span>
										{{list.status==4
										  ?'进行中'
										  :list.status==5
										  ?'已完成'
										  :list.status==1
										  ?'草稿'
										  :''}}
						        	</ng-template>
							        
						        </td>
						    </tr>
						    
						</tbody>
					</table>

					<!-- loading组件 -->
					<app-riccio-spinners [emptyText]="'无订单数据'"
										 [type]="loadingType"></app-riccio-spinners>
				</div>

				<app-riccio-paginations [total]="totalPage" (pageValue)="fnEmitPage($event)"></app-riccio-paginations>

			</div>
		</div>	

	</div>

</div>