.member-pwd{
	width: 600px;
	padding-top: 12px;
    .form-group{
        .control-label{
            font-weight: normal;
        }
        &.thumb{
            line-height: 60px;
            height: 60px;
        }
    }
}