<div class="member-pwd">
    <form class="gr-form-horizontal c-f">
        <div class="form-group c-f">
            <label class="col-gr-2 control-label t-r color999">
                原密码:
            </label>
            <div class="col-gr-9 control-panel">
                <input name="old_password" 
                        type="password"
                        maxlength="16" 
                        class="form-control {{dangerData['old_password']==true?'danger':''}}" 
                        placeholder="请输入6-16位密码"
                        (focus)="dangerData['old_password']=false" 
                        [(ngModel)]="modifyData['old_password']">
            </div>
        </div>
    
        <div class="form-group c-f">
            <label class="col-gr-2 control-label t-r color999">
                新密码:
            </label>
            <div class="col-gr-9 control-panel">
                <input name="new_password"  
                        type="password"
                        maxlength="16"
                        class="form-control {{dangerData['new_password']==true?'danger':''}}" 
                        placeholder="请输入6-16位密码"
                        (focus)="dangerData['new_password']=false" 
                        [(ngModel)]="modifyData['new_password']">
            </div>
        </div>
    
        <div class="form-group c-f">
            <label class="col-gr-2 control-label t-r color999">
                确认密码:
            </label>
            <div class="col-gr-9 control-panel">
                <input name="new_password_confirmation"  
                        type="password"
                        maxlength="16"
                        class="form-control {{dangerData['new_password_confirmation']==true?'danger':''}}" 
                        placeholder="请输入6-16位密码"
                        (focus)="dangerData['new_password_confirmation']=false" 
                        [(ngModel)]="modifyData['new_password_confirmation']"
                        class="form-control {{dangerData['password_confirmation']==true?'danger':''}}" 
                        placeholder="请输入6-16位密码">
            </div>
        </div>
            <div class="form-group c-f">
            <div class="col-gr-10 col-gr-ml-2">
                    <riccio-button [normal]="'确认修改'"
                                [disabled]="'修改中...'"
                                [open]="isBtn"
                                (emitStatus)='fnSaveEdit($event)'></riccio-button>
            </div>
        </div>
    </form>
</div>
