<!-- <div class="gr-navbar-title">
	<div class="navbar-text">
		<i class="iconfont_console "></i>
		<span>部门与员工</span>
	</div>
	<div class="navbar-menu f-r">
		<ul class="menu-ul clearfix">
			<li class="menu-ul-li f-l {{RouterActive==''?'active':''}}"><a href="javascript:;" routerLink="./" (click)="RouterActive=''">成员管理</a></li>
			<li class="menu-ul-li f-l {{RouterActive=='disable'?'active':''}}"><a href="javascript:;" routerLink="disable" (click)="RouterActive='disable'">已禁用帐号</a></li>
			<li class="menu-ul-li f-l {{RouterActive=='department'?'active':''}}"><a href="javascript:;" routerLink="department" (click)="RouterActive='department'">部门管理</a></li>
		</ul>
	</div>
</div> -->

<router-outlet></router-outlet>

