// @import '../../../assets/datapickerFonts/dataPicker.scss';

.slds-button{position:relative;display:inline-block;padding:0;background:0 0;background-clip:border-box;border:1px solid transparent;border-radius:.25rem;font-size:.75rem;line-height:1.875rem;text-decoration:none;color:#0070d2;-webkit-appearance:none;white-space:normal;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:color 50ms linear,background-color 50ms linear}
.slds-button:active,.slds-button:focus,.slds-button:hover,.slds-button:visited{text-decoration:none}
.slds-button:focus,.slds-button:hover{color:#999}
.slds-button:focus{outline:0;box-shadow:0 0 3px #0070D2}
.slds-button:active{color:#00396b}
.slds-button[disabled]{color:#d8dde6}
.slds-button:active .slds-button__icon,.slds-button:focus .slds-button__icon,.slds-button:hover .slds-button__icon,.slds-button[disabled] .slds-button__icon{fill:currentColor}
.slds-button+.slds-button-group,.slds-button+.slds-button-group-list{margin-left:.25rem}
.slds-button+.slds-button{margin-left:.25rem}

.slds-button--common-container{
    line-height: 1;
    vertical-align: middle;
    color: #54698d;
    cursor: pointer;
}
.slds-button__icon{width:.875rem;height:.875rem;fill:currentColor}
.slds-button__common--small,.slds-button__icon_small{width:.75rem;height:.75rem}


.slds-box{padding:1rem;border-radius:.25rem;border:1px solid #d8dde6}
.slds-box--xx-small,.slds-box_xx-small{padding:.25rem}
.slds-box--x-small,.slds-box_x-small{padding:.5rem}
.slds-box--small,.slds-box_small{padding:.75rem}
.slds-box--border,.slds-box_border{padding:0;border-radius:.25rem;border:1px solid #d8dde6}
.slds-box_link,.slds-box_link:active,.slds-box_link:focus,.slds-box_link:hover{color:inherit;text-decoration:inherit}
.slds-box_link:focus,.slds-box_link:hover{cursor:pointer;outline:0;border:1px solid #1589ee;box-shadow:0 0 0 1px #1589ee inset}


.slds-datepicker{padding:0;font-size:.75rem}
.slds-datepicker td,.slds-datepicker th{text-align:center}
.slds-datepicker th{padding:.5rem;font-weight:400;color:#54698d}
.slds-datepicker td{padding:.25rem;text-align:center;font-size:.75rem}
.slds-datepicker td>.slds-day{width:2rem;height:2rem;display:block;position:relative;min-width:2rem;line-height:2rem;border-radius:50%;margin:auto}
.slds-datepicker td.slds-is-today>.slds-day,.slds-datepicker td:focus:not(.slds-disabled-text)>.slds-day,.slds-datepicker td:hover:not(.slds-disabled-text)>.slds-day{background:#f4f6f9;cursor:pointer}
.slds-datepicker td.slds-is-selected:not(.slds-disabled-text)>.slds-day{background:#999;color:#fff}
.slds-datepicker td.slds-is-selected-multi>.slds-day{overflow:visible}
.slds-datepicker td.slds-is-selected-multi+.slds-is-selected-multi>.slds-day:before{content:'';position:absolute;background:#999;top:0;left:-50%;height:100%;width:2.5rem;transform:translateX(-.5rem);z-index:-1}
.slds-datepicker .slds-has-multi-row-selection .slds-is-selected-multi:first-child>.slds-day:before,.slds-datepicker .slds-has-multi-row-selection .slds-is-selected-multi:last-child>.slds-day:after{content:'';position:absolute;background:#999;top:0;left:-50%;height:100%;width:2.5rem;transform:translateX(-.5rem);z-index:-1}
.slds-datepicker .slds-has-multi-row-selection .slds-is-selected-multi:first-child>.slds-day:before{left:0;transform:translateX(-.25rem)}
.slds-datepicker .slds-has-multi-row-selection .slds-is-selected-multi:last-child>.slds-day:after{left:auto;right:0;transform:translateX(.25rem)}
.slds-datepicker__filter{padding:.25rem}
.slds-datepicker__filter--month,.slds-datepicker__filter_month{padding:0 .25rem 0 0}
.slds-datepicker__month{font-size:.75rem}
.slds-disabled-text{color:#d8dde6}
.slds-datepicker--time,.slds-datepicker_time{max-width:12rem;max-height:13.5rem;overflow:hidden;overflow-y:auto}
.slds-datepicker--time__list>li,.slds-datepicker_time__list>li{white-space:nowrap;padding:.5rem;padding-left:2rem;padding-right:2rem}
.slds-datepicker--time__list>li:focus,.slds-datepicker--time__list>li:hover,.slds-datepicker_time__list>li:focus,.slds-datepicker_time__list>li:hover{background:#f4f6f9;text-decoration:none;cursor:pointer}

.slds-global-header__button--common-favorites .slds-button__icon,.slds-global-header__button--common-favorites .slds-icon,.slds-global-header__button_common-favorites .slds-button__icon,.slds-global-header__button_common-favorites .slds-icon{color:#fff;stroke:#9faab5;stroke-width:2px;stroke-linejoin:round;stroke-linecap:round}
.slds-global-header__button--common-favorites:focus .slds-button__icon,.slds-global-header__button--common-favorites:focus .slds-icon,.slds-global-header__button--common-favorites:hover .slds-button__icon,.slds-global-header__button--common-favorites:hover .slds-icon,.slds-global-header__button_common-favorites:focus .slds-button__icon,.slds-global-header__button_common-favorites:focus .slds-icon,.slds-global-header__button_common-favorites:hover .slds-button__icon,.slds-global-header__button_common-favorites:hover .slds-icon{color:#fff;stroke:#0070d2}
.slds-global-header__button--common-favorites:active .slds-button__icon,.slds-global-header__button--common-favorites:active .slds-icon,.slds-global-header__button_common-favorites:active .slds-button__icon,.slds-global-header__button_common-favorites:active .slds-icon{stroke:#16325c}
.slds-global-header__button--common-favorites.slds-is-selected .slds-button__icon,.slds-global-header__button--common-favorites.slds-is-selected .slds-icon,.slds-global-header__button_common-favorites.slds-is-selected .slds-button__icon,.slds-global-header__button_common-favorites.slds-is-selected .slds-icon{color:#0070d2;stroke:#0070d2;stroke-width:1px}
.slds-global-header__button--common-favorites.slds-is-selected:focus .slds-button__icon,.slds-global-header__button--common-favorites.slds-is-selected:focus .slds-icon,.slds-global-header__button--common-favorites.slds-is-selected:hover .slds-button__icon,.slds-global-header__button--common-favorites.slds-is-selected:hover .slds-icon,.slds-global-header__button_common-favorites.slds-is-selected:focus .slds-button__icon,.slds-global-header__button_common-favorites.slds-is-selected:focus .slds-icon,.slds-global-header__button_common-favorites.slds-is-selected:hover .slds-button__icon,.slds-global-header__button_common-favorites.slds-is-selected:hover .slds-icon{color:#999;stroke:#0070d2}
.slds-global-header__button--common-favorites.slds-is-selected:active .slds-button__icon,.slds-global-header__button--common-favorites.slds-is-selected:active .slds-icon,.slds-global-header__button_common-favorites.slds-is-selected:active .slds-button__icon,.slds-global-header__button_common-favorites.slds-is-selected:active .slds-icon{color:#16325c;stroke:#16325c}
.slds-global-header__button--common-favorites.slds-is-disabled .slds-button__icon,.slds-global-header__button--common-favorites.slds-is-disabled .slds-icon,.slds-global-header__button--common-favorites:disabled .slds-button__icon,.slds-global-header__button--common-favorites:disabled .slds-icon,.slds-global-header__button_common-favorites.slds-is-disabled .slds-button__icon,.slds-global-header__button_common-favorites.slds-is-disabled .slds-icon,.slds-global-header__button_common-favorites:disabled .slds-button__icon,.slds-global-header__button_common-favorites:disabled .slds-icon{stroke:#e0e5ee}
.slds-global-header__icon,.slds-global-header__icon .slds-button__icon,.slds-global-header__icon .slds-icon{width:1.25rem;height:1.25rem}

.slds-grid{display:-ms-flexbox;display:flex}
.slds-grow{-ms-flex-positive:1;flex-grow:1}
.slds-grow-none{-ms-flex-positive:0;flex-grow:0}
.slds-grid--align-spread,.slds-grid_align-spread{-ms-flex-pack:justify;justify-content:space-between}
.slds-grid--align-spread .slds-col,.slds-grid--align-spread [class*=slds-col_padded],.slds-grid--align-spread [class*=slds-col--padded],.slds-grid_align-spread .slds-col,.slds-grid_align-spread [class*=slds-col_padded],.slds-grid_align-spread [class*=slds-col--padded]{-ms-flex-positive:0;flex-grow:0}
.slds-align-middle{vertical-align:middle;-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}

#{'/deep/'}{
	.datepicker .slds-datepicker td.slds-is-selected:not(.slds-disabled-text) > .slds-day{
		background: #999 !important;
	}
}

.datepickers{
	background-color: #fff;
	border-radius: .25rem;
	outline: none;
}

.slds-box.slds-box--x-small{
	min-width: 350px;
	width: 100%;
	border: none;
}

i.iconfont_common{
	font-size: 12px !important;
}



select{
	font-size: 24px
}

/*年份样式*/
.selectYear{
	position: absolute;
	right: 10px;
	top: 6px;
	cursor: pointer;
    width: 29%;
    padding: 5px 0;
    text-align: center;
}
.selectYear:hover{
	background-color: #f4f6f9
}

