<!-- <div class="gr-navbar-title">
	<div class="navbar-text">
		<i class="iconfont_console "></i>
		<span>角色与成员</span>
	</div>
	<div class="navbar-menu f-r">
		<ul class="menu-ul clearfix">
			<li class="menu-ul-li f-l {{RouterActive==''?'active':''}}"><a href="javascript:;" routerLink="./" (click)="RouterActive=''">成员管理</a></li>
			<li class="menu-ul-li f-l {{RouterActive=='management'?'active':''}}"><a href="javascript:;" routerLink="management" (click)="RouterActive='management'">角色管理</a></li>
		</ul>
	</div>
</div> -->

<router-outlet></router-outlet>
