@import "../Public/theme/common/variable.scss";

$themeColor:$buttonColorNormal;
$headNavNormalColor:#6F8092;

$contentNarmalColor:#666;

$formCPBg:#FBFBFB;
$formCPBorder:#EAEFF1;
$formCPColor:#ccc;

$tableTrHover:#f7faff;