@import '../../../../../../Public/theme/apps-common/variable.scss';
$doing:#F4C92D;
$success:#7EC856;
$danger:#F37263;

.articleList{
    .body{
        .bodyHead{
            .count{
                span{
                    color:$success;
                }
            }
        }
        .bodyMain{
            top: 120px;
            .articleListTable{
            }
        }
    }
}