$textColorNormal:#333333;
$textColorLink: #00C1DE;
$textColorTitle: #6F8092;

$fontWeight:500;

$buttonColorNormal:#00C1DE;
$buttonColorInfo:#00C1DE;
$buttonColorDanger:#FF7663;

$tableTrHover:#f7faff;

.selectDepartment{
    font-weight: bolder;
    i{
    	display: inline-block;
    	color: #69d0d1 !important;
    }
}


.gr-wrapper-table{
	top: 69px;
	left: 15px;
	right: 10px;
}

.gr-special-table{
    top: 70px;
}