.header-title{
	height: 50px;
	border-bottom: 1px solid #EAEFF1;
	line-height: 50px;
	.title{
		font-size: 14px;
	}
}
.list-search{
	border-bottom: 1px solid #EAEFF1;
    margin-top: 20px;
	ul.search-ul{
		flex:1;
		li.search-ul-li{
			display: inline-block;
			.form-group{
				.control-label{
					margin-right: 8px;
				}
				.control-panel{
					margin-right: 8px;
				}
			}
		}
	}
}


.gr-form-horizontal{
	display:flex;
	justify-content:space-between;
	div.search-button{
		min-width: 240px;
	}
}