<div class="feedback">
  <div class="feedback-header">
    <span>我要反馈</span>
  </div>
  <div class="feedback-body">
    <ul>
      <li>留言：</li>
      <li><textarea placeholder="此处限定5000字符"></textarea></li>
      <li><span class="orange">若提交密码或AccessKey等信息，请通过“重要信息”方式添加，并在问题处理完毕后及时修改。</span></li>
      <li style="margin-top: 20px">重要信息：</li>
      <li><textarea placeholder="请在此处填写重要信息，提交后我们会做加密处理"></textarea></li>
      <li style="margin: 20px 0">
        <span>可上传5个附件：</span>
        <button class="upload">上传文件</button>
        <button class="fj1">附件1</button>
        <button class="fj2">附件2</button>
      </li>
      <li class="label">每个附件大小不得超过8M。附件支持的格式有：'jpg','bmp','png','gif','txt','rar','zip','doc','docx','ini','conf','eml','pdf','xlsx','xls'</li>
      <li style="margin: 20px 0"><button class="commit">提&nbsp;&nbsp;交</button></li>
    </ul>
  </div>
</div>
