<form class="gr-form-horizontal c-f" *ngIf = "!loading">

    <div class="form-group c-f">
        <label class="col-gr-2 control-label label-required t-r">
            部门名称
        </label>
        <div class="col-gr-9 control-panel">
            <input name="name"  
                   class="form-control"
                   (focus)="dangerShow=false"
                   [ngClass]="{'danger':dangerShow}"
                   [(ngModel)]="postCreateEditData['name']"
                   placeholder="请输入部门名称"
                   style="">
        </div>
    </div>

    <div class="form-group c-f">
        <label class="col-gr-2 control-label t-r">
            上级部门
        </label>
        <div class="col-gr-9 control-panel">
            <input name=""
                   class="form-control" 
                   placeholder=""
                   readonly="readonly"   
                   style="">
            <a href="javascript:;" 
               class="p-a selectDepartment"
               #selectDepartmentMain 
               (click)="fnShowPbox('departmentMain',selectDepartmentMain,$event)">
               <span *ngIf = "parentDepartment!=''">{{parentDepartment}}</span>
               <span *ngIf = "parentDepartment==''"><i class="iconfont_console console-jiahao"></i>选择上级部门</span></a>
        </div>
    </div>

    <div class="form-group c-f">
        <label class="col-gr-2 control-label t-r">
            负责人
        </label>
        <div class="col-gr-9 control-panel">
            <input name=""
                   class="form-control" 
                   placeholder=""
                   readonly="readonly"   
                   style="">
          <!--   <a href="javascript:;" 
               class="p-a selectDepartment"
               #selectDepartmentAdmin
               (click)="fnShowPbox('departmentAdmin',selectDepartmentAdmin,$event)">
               <span *ngIf = "departmentAdmin!=''">
                  {{departmentAdmin}}
                  <i class="iconfont_console console-iconfontquxiao" (click)="fnChooseCancel()"></i>
               </span>
               <span *ngIf = "departmentAdmin==''"><i class="iconfont_console console-jiahao"></i>选择部门负责人</span></a> -->

            <div class="p-a selectDepartment">
              <ul class="manager-ul">
                <li style="display: inline-block;" 
                    [ngClass]="{'manager-ul-li':departmentMainName!==''}">
                  <a href="javascript:;" 
                     class=""
                     #selectDepartmentAdmin
                     (click)="fnShowPbox('departmentAdmin',selectDepartmentAdmin,$event)">
                     <i class="iconfont_console console-jiahao" *ngIf = "departmentAdmin==''"></i>{{departmentAdmin===''?'选择部门负责人':departmentAdmin}}
                  </a>
                  <i class="iconfont_console console-iconfontquxiao" 
                        *ngIf = "departmentAdmin!==''"
                        (click)="fnChooseCancel()"></i>
                </li>
              </ul>
            </div>

        </div>
    </div>

    <div class="form-group c-f">
        <label class="col-gr-2 control-label t-r">
            部门简介
        </label>
        <div class="col-gr-9 control-panel">
            <input name="note"  
                   class="form-control"
                   [(ngModel)]="postCreateEditData['note']"
                   placeholder="请输入部门简介"
                   style="">
        </div>
    </div>

    <div class="form-group c-f">
        <div class="col-gr-6 col-gr-ml-2">
            <button type="button" class="gr-btn gr-btn-primary" disabled="{{btnData.disabled==true?'disabled':''}}" (click)="fnSaveEdit()">{{btnData.text}}</button>
            <a href="javascript:;" class="gr-btn gr-btn-link" (click)="closeView()">取消</a>
        </div>
    </div>

</form>

<div class="loading-indicator" *ngIf = 'loading'>
    <div class="hor-center">
        <h4 class="ng-binding">
            正在努力加载中，请稍候
            <div class="loading-ellipsis">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </h4>
    </div>
</div>
