
<div class="gr-wrapper-table">
	
	<!-- 标题 -->
	<div class="gr-content-title">
		<span class="">应用市场</span>
	</div>

	<!-- 分块的内容区域 -->
	<div class="gr-overflow-y">

		<div class="apps-main-list">

			<app-riccio-spinners [emptyText]="'暂无应用列表'"
								 [type]="loadingType"></app-riccio-spinners>

			<ul class="apps-ul clearfix">
				<li class="apps-li" *ngFor = "let list of itemList" (click)="fnGoInfo(list)">
					<span class="apps-thumb" *ngIf="list.noImg">
						<i class="iconfont_console  {{list.iconfont?list.iconfont:'console-yingyong'}}"></i>
					</span>
					<img class="apps-thumb" [src]="list.thumb" *ngIf="!list.noImg" (error)="noImg(list)" alt="">
					<span class="disabled-apps" *ngIf = "list.status==2">已下架</span>
					<div class="li-text">
						<h3>{{list.name}}</h3>
						<p>{{list.content}}</p>
					</div>
				</li>
			</ul>
		</div>
		
	</div>

</div>

<!-- <app-riccio-single-members [isShow]="true" [header]="'头'" [title]="'头2'" [placeholder]="'sasdas'"></app-riccio-single-members> -->