<div class="modal-content">
	<div  class="module-header">
		<div class="breadcrumb">
			<app-riccio-breadcrumb
				[iconfont]="'iconfont_admin admin-guanli'"
				[breadData]="breadData"></app-riccio-breadcrumb>
		</div>
	</div>
	<div id="app-container" class="container">
	    <div class="app">
	        <div class="app-inner clearfix">
	            <div class="app-init-container">
	                <div id="js-app-content" class="app__content ump-dashboard">
	                    
	                    <div class="application-list" style="display: block;">
	                    	<span class="list-title">默认配置</span>
	                        <ul class="clearfix">

	                            <li class="application-item" style="width: 236.25px;">
	                                <a href="javascript:;" (click)="FnGoModel('defaultMenu')">
	                                    <div class="application-logo">
	                                        <span class="application-background background-blue">
	                                        	<i class="iconfont_admin  admin-liebiao"></i>
	                                        </span>
	                                    </div>
	                                    <div class="application-name">应用默认菜单</div>
	                                    <div class="application-desc">
	                                        管理应用的使用菜单
	                                    </div>
	                                </a>
	                            </li>

	                        </ul>
	                    </div>


	                    <div class="application-list" style="display: block;">
	                    	<span class="list-title">管理配置</span>
	                        <ul class="clearfix">

	                            <li class="application-item" style="width: 236.25px;">
	                                <a href="javascript:;" (click)="FnGoModel('defaultCompany')">
	                                    <div class="application-logo">
	                                        <span class="application-background background-green">
	                                        	<i class="iconfont_admin  admin-liebiao"></i>
	                                        </span>
	                                    </div>
	                                    <div class="application-name">企业管理</div>
	                                    <div class="application-desc">
	                                        管理所有企业
	                                    </div>
	                                </a>
	                            </li>

	                        </ul>
	                    </div>


	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>