.BoxPrompt-Main{
	position: fixed;
	left: 0;
	top:0;
	bottom: 0;
	right: 0;
}

.Main-center{
	height: 50px;
	padding: 0 35px;
	background-color: #fff;
	border:1px solid #d1d1d1;
	box-shadow: 0 0 6px 0px #ccc;
	border-radius: 2px;
	text-align: center;
	line-height: 50px;
	position: relative;
	display: inline-block;
	left: 50%;
	margin-top: 20%;
	transform: translate(-50%,-50%);
	transition: all 0.35s
}