@import '../../../../../../Public/theme/apps-common/variable.scss';
@import '../../../../bsbyService.common.scss';
$doing:#F4C92D;
$success:#7EC856;
$danger:#F37263;

.programmeListAll{
    .body{
        position: absolute;
        width: 100%;
        bottom: 10px;
        top: 60px;
        .bodyMain{
            top: 0px;
            .tableList{
                left: 0px;
                bottom: 0px;
                .tableTop{
                    height: initial;
                    line-height: 0;
                    .searchProduct{
                        height: 40px;
                        width: 30%;
                        margin: 15px 0;
                        input{
                            height: 100%;
                            border-radius: 5px;
                            outline: none;
                            border: 1px solid rgba(0,0,0,0.1);
                            padding: 0 15px 0 15px;
                        }
                    }
                }
                th,
                td{
                    text-align: center;
                    transition: all 0.3s;
                }
                th{
                    padding: 0 10px 0 10px !important;
                }
                &.hover{
                    tr{
                        transition:all 0.3s;
                        &:hover{
                            background-color: $tableTrHover;
                        }
                        td{
                            padding:0 10px 0 10px !important;
                        }
                    }
                }
            }
            .programmeListTable{
                top: 0px;
                .first{
                    padding: 10px;
                    line-height: 20px;
                    border-right: 1px solid $headBorderColor;
                    background-color: #ffffff !important;
                }
                .name,
                .domain{
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .domain{
                    color: $bodyFadeColor;
                }
            }
        }
    }
}