<div class="evaluate">
  <div class="evaluate-header"><span>待您评价</span></div>
  <div class="evaluate-body">
    <ul>
      <li>
        <span>整体评价：</span>
      </li>
      <li>
        <button class="active">服务态度好</button>
        <button>服务态度好</button>
        <button>服务态度好</button>
        <button>服务态度好</button>
      </li>
      <li>
        <span>问题是否解决：</span>
        <label><input type="radio" name="solveProblem">已解决</label>
        <label><input type="radio" name="solveProblem">未解决</label>
      </li>
      <li>
        <span style="display: inline-block;position: relative;bottom: 146px;">问题是否解决：</span>
        <textarea placeholder="感谢您对我们的肯定，为了给您带来更好的服务体验，请告诉我们您最满意的点"></textarea>
      </li>
      <li><button class="commit">提交</button></li>
    </ul>
  </div>
</div>
