@import "../../../Admin.value.scss";

.modal-content{
    margin-top: 10px;
    .modal-body{
        position: relative;
        top: 30px;
        left: -60px;
        .drive-list{
            position: relative;
            left: -25px;
            .file-list-header{
                display: flex;
                .file-name{
                    flex:1;
                    font-size: 15px;
                }
            }
            .file-item{
                box-sizing: border-box;
                border-bottom: 1px solid #f3f3f3;
                color: #4e545f;
                font-size: 12px;
                font-weight: normal;
                &:hover{
                    background-color: #fbfbfb;
                }
                .file-name{
                    flex:1;
                    padding-right: 0;
                }
                .file-size{
                    flex:1;
                    a:hover{
                        text-decoration: underline !important; 
                    }
                }
            }
        }
    }
    select.select{
		appearance:none;
		padding-right: 34px;
    }
    form.form-horizontal .form-group{
        max-width: 520px;
        margin-left: 50px;
    }
    .accordion-panel{
        &.h5{
            font-size: 16px;
            font-weight: 700;
            margin: 0;
            color: #4e545f;
        }
        &.p{
            margin-top: 10px;
            margin-bottom: 10px;
            color: #b5bec9;
            line-height: 180%;
            font-size: 15px;
        }
    }
    .xm-select{
    	i{
    		position: absolute;
		    top: 10px;
		    right: 25px;
		    color: #666;
    	}
    }
    .URLtitle{
        position: absolute;
        left: 600px;
        top: 10px;
        font-size: 16px;
        color: #333
    }
}

.drive-list .file-item,.drive-list .file-list-header{display:-webkit-box;display:flex;display:-ms-flexbox;display:-webkit-flex;-ms-flex-direction:row;flex-direction:row;padding:14px 15px}
.drive-list .file-item .file-name,.drive-list .file-list-header .file-name{-webkit-box-flex:1;-ms-flex:1 1 0px;flex:1 1 0;-webkit-flex:1 1 0;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.drive-list .file-item .file-updated-by,.drive-list .file-list-header .file-updated-by{width:130px}
.drive-list .file-item .file-updated,.drive-list .file-list-header .file-updated{width:170px}
.drive-list .file-item .file-size,.drive-list .file-list-header .file-size{width:120px}
.drive-list .file-item .file-trash-operation,.drive-list .file-list-header .file-trash-operation{visibility:hidden;width:100px}
.drive-list .file-item .file-trash-operation a,.drive-list .file-list-header .file-trash-operation a{margin-top:2px;padding:4px 5px;display:inline-block}
.drive-list .file-item.file-item-trash:hover .file-trash-operation,.drive-list .file-list-header.file-item-trash:hover .file-trash-operation{visibility:visible}
.drive-list .file-item .file-action,.drive-list .file-list-header .file-action{width:60px;text-align:center;visibility:hidden}
.calendar-detail-wrap .calendar-detail-body .event-schedule .event-schedule-header .event-schedule-header-item:hover .fa,.drive-list .file-item:hover .file-action,.drive-list .file-list-header:hover .file-action{visibility:visible}
.drive-list .file-item .file-action a,.drive-list .file-list-header .file-action a{color:#333}
.drive-list .file-item .file-action i,.drive-list .file-list-header .file-action i{line-height:30px}
.drive-list .file-list-header{border-bottom:solid 1px #f3f3f3;font-weight:700;color:#4e545f}
.drive-list .file-list-header .file-name,.drive-list .file-list-header .file-size,.drive-list .file-list-header .file-updated{cursor:pointer}
.drive-list .file-item .file-size,.drive-list .file-item .file-updated,.drive-list .file-item .file-updated-by{color:#333;line-height:30px}
.drive-list .file-item .file-name{padding-right:20px;width:0;line-height:30px}
.drive-list .file-item .file-name a{color:#2e2e2e}
.drive-list .file-item .file-name a:focus,.drive-list .file-item .file-name a:hover{color:#080808;text-decoration:none}
.drive-list .file-item .file-name img{width:30px;height:30px;margin-right:10px}
.drive-list .file-item .file-name i{font-size:30px;vertical-align:middle;margin-right:10px}
.drive-list .file-item .file-updated-by .lc-avatar-name{margin-left:5px}
.drive-list .file-item .file-updated{color:#c1c1c1}


.customer-list .table{margin-bottom:0}
.customer-list .table tbody tr td:first-child{border-left:solid 3px #fff}
.customer-list .table tbody tr:hover{cursor:pointer}
.customer-list .table tbody tr:hover td:first-child{border-left:solid 3px $themeColor}
.customer-list .lc-table.table thead th .customer-check{font-weight:400;margin-bottom:-2px}
.customer-list .lc-table.table tbody tr td{padding:15px 12px}
.customer-list .customer-director{width:75px}
.customer-list .customer-name a{color:#4e545f}
.customer-list .track-date{width:150px;color:#92a0ab}
.customer-list .customer-level,.customer-list .customer-province{color:#425161;width:100px}
.customer-list .customer-select{width:40px}
.customer-list .customer-no{color:#425161;width:60px}
.customer-list .customer-check{color:#8f8f8f;display:inline-block}
.customer-list .customer-check i{font-size:20px}
.customer-list .customer-check .lc-checked-square{color:$themeColor}
.customer-list .customer-status{width:150px}

.lc-table.table tbody tr td.text-center,.lc-table.table thead tr th.text-center{text-align:center}
.lc-table.table thead tr th{border-bottom:solid 1px #f3f3f3;padding:12px 15px;vertical-align:middle}
.lc-table.table tbody tr td{border-top:solid 1px #f3f3f3;vertical-align:middle;padding:12px 15px}
.lc-table.table .avatar{margin-right:10px}
.lc-table.table .display-name{color:#2e2e2e;font-weight:700}
.lc-table.table-hover tbody tr:hover{background:#edf8f8}
.lc-table--hover-border.table-hover tbody tr td:first-child{border-left:solid 3px transparent}
.lc-table--hover-border.table-hover tbody tr:hover td:first-child{border-left:solid 3px $themeColor}


.table{
    width: 100%;max-width: 100%;
    tr:hover{
        background-color: #fbfbfb !important;
    }
    .hand{
        font-weight: bold;
        font-size: 15px;
    }
    .customer-level{
        width: 160px;
        & a.disabled{
            color: #ccc;
        }
    }
}


.approval-action-divider{background:#8f8f8f;width:1px;height:15px;margin-right:0!important;margin-left:10px!important;opacity:.3;color: #8f8f8f}
.approval-action{padding-left:5px!important;padding-right:5px!important;margin-right:0!important;color:#8f8f8f}
.approval-action.arrow{color:#8f8f8f;opacity:.3;width:16px;padding-left:0!important;padding-right:0!important}
.approval-action.arrow .lcfont{font-size:24px}
.approval-action.arrow:active,.approval-action.arrow:focus,.approval-action.arrow:hover{color:$themeColor}
.approval-action .lcfont{font-size:20px}
.approval-action.action-switch-btn{padding-top:10px;padding-bottom:6px}
.approval-action .switch{width:30px;height:20px}
.approval-action .switch.checked{background:$themeColor;border-color:$themeColor}
.approval-action .switch.checked small{left:11px}
.approval-action .switch small{height:20px;width:20px}


.module-header {
    
    .titleTag{
        span{
            background: #eee;
            color: #333;
            margin-left: 8px;
            border-radius: 3px;
            display: inline-block;
            height: 30px;
            position: relative;
            overflow: hidden;
            line-height: 30px;
            top: 8px;
            left: -10px;
            a{
                padding: 0 15px;
                display: inline-block;
                float: left;
                position: relative;
                font-size: 12px;
                color: #333;
                &.active{
                    background-color: $themeColor;
                    color: #fff;
                }
            }
        }
    }

}

