.assist-main{
    position: absolute;
    top: 54px;
    bottom: 0;
    width: calc(100% - 60px);
    background-color: #eee;
}
.assist-header{
	padding: 0 15px;
	line-height: 50px;
	span{
		font-size: 18px;
	}
}