.select-year{
	position: absolute;
	top: 60px;
	left: 130px;
	background-color: #fff;
	border: 1px solid #d8dde6;
	border-radius: 3px;
	box-shadow: 0 0 10px 1px #d8dde6;
}

.select-year:after{
	content: " ";
	position: absolute;
	border-bottom: 10px solid #d8dde6;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top:none;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
}

.select-year .year-head{
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
	margin: 0 auto;
	width: 93%;
	border-bottom: 1px solid #f4f6f9;
	padding-bottom: 10px;
}

.select-year .year-head button{
	outline: none
}

.select-year .year-title{
	line-height: 23px;
}

.select-year .year-ul{
	width: 250px;
	display: flex;
	justify-content: space-around;
	flex-wrap:wrap;
}

.select-year .year-ul li{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.select-year .year-ul li span{
 	cursor: pointer;
 	padding: 10px 5px;
 	box-sizing: border-box;
}

.select-year .year-ul li span:hover{
	background-color: #f4f6f9;
}


/*选中的背景颜色*/
.active{
	background-color: #f4f6f9;
}