@import '../../../../../../../Public/theme/apps-common/variable.scss';

$tabBg:#e4e4e4;
.siteServiceEdit{
    .f-select{
        .selectDef{
            color:#a2a2a2;
        }
        .form-control{
            cursor: pointer;
            line-height: 36px;
            padding: 0px;
            padding-left: 16px;
        }
        .control-label{
            vertical-align: top;
        }
        .down{
            color:#999;
            float: right;
            margin-right: 8px;
            height: 36px;
            line-height: 36px;
        }
    }
    .serviceForm{
        &.hidden{
            display: none;
        }
        .control-panel{
            .p-select{
                position: absolute;
                top: 0px;
                height: 40px;
                line-height: 40px;
                left: 25px;
            }
            .input-select{
                color:transparent;
                color:#fbfbfb;
            }
            .form-control{
                cursor: pointer;
                line-height: 36px;
                padding: 0px;
                padding-left: 16px;
            }
            i{
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 30px;
                line-height: 38px;
            }
        }
    }
}