$textColorNormal:#333333;
$textColorLink: #00C1DE;
$textColorTitle: #6F8092;

$fontWeight:500;

$buttonColorNormal:#00C1DE;
$buttonColorInfo:#00C1DE;
$buttonColorDanger:#FF7663;

$tableTrHover:#f7faff;
.wrapper-table-top{
	border-bottom: 1px solid #eee;
	line-height: 58px !important;
}

.wrapper-tabLab{
	overflow: hidden;
	height: 52px;
}

.roleTableContent{
	top: 170px !important;
}

.gr-navbar-title{
	border-bottom: none;
}

#undetails{
	i.thumb{
		font-size: 24px;
		color: #ccc;
	}
}

	.wrapper-content{
	    width: 100%;
	    position: absolute;
	    left: 0;
	    top: 112px;
	    padding: 10px 20px;
	    bottom: 0;
	    background-color: #fff;
	    overflow-y: auto;
	    span{
			&.menu-title,&.company-title{
				margin-bottom: 5px;
				display: inline-block;
			}
	    }
	    .wrapper-table{
			.table{
			    margin: 0 auto;
			    width: 100%;
			    table-layout: fixed;
			    i{
			    	color: #aaa;
			    }
			    & #undetails{
			    	tr:hover{
			    		background-color: $tableTrHover;
			    	}
			    }
			    & tr{
			    	cursor: pointer;
			    	th{
		    		    height: 34px;
					    line-height: 34px;
					    background-color: #f1f4fb;
					    border-bottom: 1px solid #e2e7f4;
					    cursor: pointer;
					    color: #5b6885;
					    position: relative;
					    text-align: left;
					    padding: 0 20px;
				        text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow: hidden;
					    &:after{
					    	content: " ";
				    	    display: block;
						    position: absolute;
						    right: 0;
						    top: 5px;
						    width: 2px;
						    height: 24px;
						    border-left: 1px solid #d2d9e8;
						    background-color: #fff;
						    overflow: hidden;
					    }
					    &.th-checkbox{
					    	&:after{
					    		content: "";
					    		display: none !important;
					    	}
					    }
			    	}
			    	td{
					    padding: 0 20px;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow: hidden;
					    text-align: left;
					    height: 50px;
					    line-height: 50px;
					    border-bottom: 1px solid #ececec;
					    &.td-checkbox{
					    	border-bottom: none;
					    }
			    	}
			    }
			}
	    }
	    .wrapper-table-bottom{
	    	.datatable-page{
	    		width: 100%;
			    padding: 5px 0 6px 10px;
			    height: 38px;
			    line-height: 28px;
			    font-size: 12px;
			    background-color: #f8f8f8;
			    border-radius: 0 0 4px 4px;
			    .summary-tip{
			    	padding-top: 6px 15px 0 0;
			    	font-weight: bold;
			    	.ico-radius{
		    		    display: inline-block;
					    border-radius: 10px;
					    width: 10px;
					    height: 10px;
					    line-height: 10px;
					    background-color: #f5ca00;
					    vertical-align: middle;
					    margin-right: 10px;
					    &.ico-radius-g{ background-color: #7cca4e }
					    &.ico-radius-r{ background-color: #f5715f }
					    &.ico-radius-d{ background-color: #ccc }
			    	}
			    }
			    .page-box{
			    	margin-right: 15px;
			    	display: block;
			    	.pagination-showline-wrapper{
			    		display: inline-block;
					    color: #777;
					    margin-left: 8px;
			    	}
			    	.pagition-select-box{
			    		position: relative;
					    display: inline-block;
					    width: 66px;
					    clear: both;
					    zoom: 1;
					    .pagition-title-wrapper{
				    	    position: relative;
						    display: inline-block;
						    line-height: 28px;
						    border: 1px solid #d8d8d8;
						    border-radius: 2px;
						    background-color: #fff;
						    height: 30px;
						    .pagition-select-title{
								display: inline-block;
								color: #424242;
								cursor: pointer;
								padding-left: 10px;
								width: 44px;
								text-overflow: ellipsis;
								white-space: nowrap;
								padding-right: 18px;
								vertical-align: middle;
								overflow: hidden;
								height: 100%;
								line-height: 26px;
						    }
					    }
					    .pagition-pagesize-list{
				    	    z-index: 1999;
						    border: 1px solid #d8d8d8;
						    position: absolute;
						    left: 0;
						    top: -86px;
						    width: auto;
						    padding: 2px 2px 0;
						    background: #fff;
						    list-style: none;
						    .pagition-pagesize-item{
					    	    height: 28px;
							    line-height: 26px;
							    overflow: hidden;
							    cursor: pointer;
							    color: #333;
							    text-overflow: ellipsis;
							    white-space: nowrap;
							    width: 60px;
							    text-align: center;
						    }
					    }
			    	}
			    	.pagination-range-wrapper{
		    		    display: inline-block;
					    color: #777;
					    margin-left: 8px;
			    	}
			    	.pagination-prenext-wrapper{
		    		    display: inline-block;
					    color: #777;
					    margin-left: 8px;
					    .fs-pagination{
							background-color: #fff;
							display: inline-block;
							padding: 5px 10px;
							box-sizing: border-box;
							border: 1px solid #d8d8d8;
							cursor: pointer;
							color: #333;
							border-radius: 3px;
							font-size: 12px;
							height: 30px;
							line-height: 20px;
						    &.fs-pagination-button-disable{
						    	color: #c7c7c7;
							    cursor: auto;
						    }
					    }
			    	}
			    	.pagination-pageto-wrapper{
			    		display: inline-block;
					    color: #777;
					    margin-left: 8px;
					    .pagination-pageto-box{
					    	height: 29px;
						    line-height: 29px;
						    display: inline-block;
						    border: 1px solid #d8d8d8;
						    border-radius: 2px;
						    background-color: #fff;
						    input{
					    	    width: 40px;
							    height: 26px;
							    border: none;
							    padding: 0 2px;
							    text-align: center;
							    outline: none;
						    }
					    }
			    	}
			    }
	    	}
	    }

	}