
<div class="selectMain" *ngIf = "!loading">
	<app-riccio-tree [tree] = 'roleTreeList'
					 [children] = "'chilren'"
					 [name] = "'groupname'"
                     [disabledId]='disabledId'
                     [disabledChildren]='true'
					 (parentData) = "callTreeData($event)">
	</app-riccio-tree>
</div>

<div class="loading-indicator" *ngIf = "loading">
    <div class="hor-center">
        <h4 class="ng-binding">
            正在努力加载中，请稍候
            <div class="loading-ellipsis">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
        </h4>
    </div>
</div>
