<div class="gr-window-scroll recharge" *ngIf = "isShow">
    <div class="openBox-Main"
            style="z-index: 150;"></div>
            
    <div class="modal-content" 
            [@smallBig]="'in'" 
            *ngIf = "isShow">
        <div class="modal-header">
            <a href="javascript:;" class="modal-close" (click)="fnClose()">
                    <i class="lcfont xm-close iconfont_console console-iconfontquxiao"></i>
                </a>
            <h3 class="modal-title">充值</h3>
        </div>
        <div class="modal-body">
            <div class="rechargeInfo">
                <div class="amountNow">
                    <span class="label">当前账户可用余额：</span>
                    <span class="value">{{rechargeData.amountNow}} 元</span>
                </div>
                <div class="amountCharge">
                    <span class="label">充值金额：</span>
                    <span class="value">{{rechargeData.amountCharge}} 元</span>
                    <a href="javascript:;" (click)="fnClose()">[ 修改 ]</a>
                </div>
            </div>
            <div class="rechargeType">
                <div class="head">
                    <span>支付方式</span>
                </div>
                <div class="pays">
                    <input class="gr-radio" name="type" type="radio" [(ngModel)]="rechargeData.type" [value]="1" />
                    <div class="alipay"></div>
                </div>
            </div>
            <div class="member-action">
                <a (click)="fnGoRecharge()" class="gr-btn gr-btn-primary gr-btn-primary">确定充值</a>
                <div class="tip">
                    <span class="color">提醒：</span>
                    <span class="color999">大额充值如需快速入账，建议你分多笔在线扫码充值，银行卡单笔支付限额以具体银行为准</span>
                </div>
            </div>
        </div>
    </div>
</div>
