.article-list{
    position: relative;
    height: 400px;
    width: 100%;
    margin-top: -30px;
    .gr-wrapper-table{
    	left: 0;
    	right: 0;
    	top: 50px;
    	bottom: 0;
    }
}

// .activity-main{
//     position: relative;
//     width: 100%;
//     height: calc(100% - 135px);
// }