<div class="openBox-Main" *ngIf="ShowConfirm.isShow" (click)="ShowConfirm.isShow=!ShowConfirm.isShow" style="z-index: 150"></div>
<!-- <app-riccio-loading></app-riccio-loading> -->
<app-riccio-pbox></app-riccio-pbox>

<div class="modal-content">
	<div class="module-header clearfix">
		<div class="f-l titleTag">
			SMS发送规则
		</div>
		<div class="flex-panel">
			<button class="btn btn-primary btn-sm f-r" (click)="fnShowAddRule()">添加规则</button>
		</div>
	</div>
	<div class="module-body table-scroll-p">
		<div class="tempList">
			<div class="customer-list">
				<!-- 从上侧弹出的组件样式 -->
				<div class="flyLeftContent" *ngIf="FlyLeftData.isShow" [@flyTop]="'in'">
					<div class="content-text">已选择<span>{{FlyLeftData.number}}</span>项</div>
					<ul class="content-list">
						<li><a href="javascript:;" #deleteCheck (click)="fnFlyCheck(deleteCheck,1)">删除</a></li>
						<li><a href="javascript:;" #enableCheck (click)="fnFlyCheck(enableCheck,2)">禁用</a></li>
						<li><a href="javascript:;" #ableCheck (click)="fnFlyCheck(ableCheck,3)">启用</a></li>
					</ul>
					<a href="javascript:;" class="f-r up-hide" (click)="FnCheckAll(false)">
						<span><i class="iconfont_admin  admin-up"></i></span>
					</a>
				</div>
				<table class="table table-hover lc-table" cellpadding="50px" tableTitle>
					<colgroup>
						<col width="25">
						<col width="40">
						<col width="80">
						<col width="80">
						<col width="80">
						<col width="150">
						<col width="130">
					</colgroup>
					<thead class="table-head">
						<tr>
							<th class="checkAll" noTitle>
								<a href="javascript:;" class="customer-check" (click)="FnCheckAll(!AllCheck)">
									<i class="iconfont_admin  {{AllCheck===false?'admin-check':'admin-check1'}}">
									</i>
								</a>
							</th>
							<th *ngFor="let item of TitleList">
								<span>{{item}}</span>
							</th>
						</tr>
					</thead>
				</table>
				<div class="table-scroll">
					<table class="table table-hover lc-table" cellpadding="50px">
						<colgroup>
							<col width="25">
							<col width="40">
							<col width="80">
							<col width="80">
							<col width="80">
							<col width="150">
							<col width="130">
						</colgroup>
						<app-my-loading *ngIf="isLoading"></app-my-loading>
						<tbody class="table-body" *ngIf="!isLoading" #clickTb>
							<tr *ngFor="let list of ruleData;let i=index" (mouseenter)="fnListHover(list,true)" (mouseleave)="fnListHover(list,false)"
							(click)="fnShowDetail(list)" tableTitle>
								<td class="customer-select" noTitle>
									<a href="javascript:;" class="customer-check" (click)="FnCheckUser(list,$event)">
										<i class="iconfont_admin  {{list['isCheck']===false?'admin-check':'admin-check1'}}">
										</i>
									</a>
								</td>
								<td class="customer-content">
									{{list.id}}
								</td>
								<td class="customer-content">
									{{list.name}}
								</td>
								<td class="customer-content">
									{{list.alias}}
								</td>
								<td class="customer-content hasOp">
									<span class="opShow" [ngClass]="{'hoverOp':list.isHover}" *ngIf="list.tem_id !== null && list.tem_name!==''">
										{{list.tem_name}}
										<button class="op iconfont_admin admin-yanjing"
											(click)="fnSeeTemp(list.tem_id,$event)"></button>
									</span>
									<span class="dangerColor" *ngIf="list.tem_id === null || list.tem_name === ''">未绑定模版</span>
								</td>
								<td class="customer-content">
									{{list.note}}
								</td>
								<td class="customer-content" noTitle>
									<a href="javascript:;" class="approval-action" (click)="fnBindTemp(list.id,$event)">
										{{list.tem_id && list.tem_name?'更换模版':'绑定模版'}}
									</a>
									<a href="javascript:;" class="approval-action" (click)="fnShowEditRule(list,$event)">
										编辑
									</a>
									<a href="javascript:;" class="approval-action" (click)="fnShowDel($event,list)">
										删除
									</a>
									<button class="disBtn" [ngClass]="{'disBtnAc':list.status === 1}" (click)="fnEnableRule(list,$event)"></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<app-riccio-paginations class="page"
					[pboxData]="pageParam['pboxData']"
					[total]="pageParam['total']"
					(pageValue)="fnPagination($event)">
				</app-riccio-paginations>
			</div>
		</div>
	</div>
</div>

<app-riccio-modal>
	<div body class="configModal modal-content" [ngSwitch]="modalShow">
		<!--添加或者编辑·-->
		<div class="modalBase" *ngSwitchCase="'rule_add_edit'">
			<form class="gr-form-horizontal addRuleForm" *ngIf="addEditFormShow" #addOrEditForm="ngForm">
				<div class="form-group f-i">
					<label class="control-label color666 label-required">
                        规则名称
                    </label>
					<div class="control-panel">
						<input name="t_name" class="form-control" placeholder="请输入规则名称" required #t_name="ngModel" [ngClass]="{'danger':t_name.touched && t_name.invalid}"
						 [(ngModel)]="addOrEditList.name">
					</div>
				</div>
				<div class="form-group f-i">
					<label class="control-label color666 label-required">
                        唯一标识
                    </label>
					<div class="control-panel">
						<input name="t_alias" class="form-control" placeholder="请输入规则唯一标识" required #t_alias="ngModel" [ngClass]="{'danger':t_alias.touched && t_alias.invalid}"
						 [(ngModel)]="addOrEditList.alias">
					</div>
				</div>
				<div class="form-group f-status">
					<label class="control-label color666">
                        规则状态
                    </label>
					<div class="control-panel">
						<input class="gr-radio" name="t_status" type="radio" [(ngModel)]="addOrEditList.status" [value]="1" /> 启用
						<input class="gr-radio" name="t_status" type="radio" [(ngModel)]="addOrEditList.status" [value]="0" /> 禁用
					</div>
				</div>
				<div class="form-group f-ta">
					<label class="control-label color666">
                        规则说明
                    </label>
					<div class="control-panel">
						<textarea name="t_note" rows="5" class="form-control" placeholder="请输入规则简要说明" [(ngModel)]="addOrEditList.note"></textarea>
					</div>
				</div>
				<div class="form-group f-btn">
					<button class="gr-btn addBtn" [disabled]="!addOrEditForm.form.valid" (click)="fnRuleAddOrEdit()">{{modalShowIsAddOrEdit.btnName}}</button>
				</div>
			</form>
		</div>
		<!--绑定模版-->
		<div class="bindBase" *ngSwitchCase="'rule_bind'">
			<div class="module-body">
				<div class="tempList">
					<div class="customer-list">
						<table class="table table-hover lc-table" cellpadding="50px" #showBindTb tableTitle>
							<colgroup>
								<col width="25">
								<col width="60">
								<col width="60">
								<col width="90">
							</colgroup>
							<thead class="table-head">
								<tr>
									<th *ngFor="let item of bindTempTitle">
										<span>{{item}}</span>
									</th>
								</tr>
							</thead>
							<tbody class="table-body">
								<tr *ngFor="let list of bindTempList" tableTitle>
									<td class="customer-content">
										{{list.id}}
									</td>
									<td class="customer-content">
										{{list.name}}
									</td>
									<td class="customer-content">
										{{list.status==1?'审核中':list.status==2?'已通过':'未通过'}}
									</td>
									<td class="customer-content" noTitle>
										<button class="op iconfont_admin admin-xuanze" (click)="fnRuleBind(list)"></button>
										<button class="op iconfont_admin admin-yanjing" (click)="fnSeeBindTemp(list)"></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</app-riccio-modal>

<show-detail (onEmit)="detailClick($event)"></show-detail>

<!-- 弹出是否删除的组件 -->
<div class="pbox pbox-open" *ngIf="ShowConfirm.isShow" [ngStyle]="{'left':ShowConfirm.position.left+'px','top':ShowConfirm.position.top+'px'}">
	<ul class="pop-menu">

		<div class="pbox-header">
			<h3 class="pbox-title">确认删除该短信规则？</h3>
		</div>
		<div class="sure-card pbox-body w-360">
			<p class=""></p>
			<button type="button" class="btn btn-danger" (click)="FnDeleteMenu()">删除</button>
			<a class="btn btn-link" (click)="ShowConfirm.isShow=!ShowConfirm.isShow">取消</a>
		</div>
	</ul>
</div>