@import '../account.component.scss';
@import '../../../../Public/theme/common/variable.scss';

.recharge{
    padding: 15px;
    overflow-y: auto;
    .main{
        border: 1px solid $headBorderColor;
        height: 266px;
        .head{
            height: 36px;
            line-height: 36px;
            padding-left: 20px;
            background: #F9F9F9;
            border-bottom: 1px solid $headBorderColor;
        }
        .body{
            padding: 10px;
            height: 230px;
            overflow: auto;
            .rechargeForm{
                .form-group{
                    margin: 0;
                }
                .control-label{
                    margin: 0;
                    text-align: right;
                    font-weight: 400;
                    float: initial;
                }
                .control-panel{
                    display: inline-block;
                    margin-left: 20px;
                    .form-control{
                        width: initial;
                        display: inline-block;
                        margin-right: 10px;
                    }
                }
                .money{
                    .value{
                        color:$moneyColor;
                        font-size: 20px;
                        font-weight: 600;
                        padding-right: 15px;
                    }
                }
                .f-btn{
                    padding-left: 20px;
                    margin-top: 10px;
                }
                .selectAmount{
                    display: inline-block;
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    a{
                        margin:0;
                        padding: 0;
                        margin-right: 20px;
                        label{
                            font-size: 12px;
                            vertical-align: bottom;
                            font-weight: 400;
                            margin: 0;
                        }
                        &.first{
                            margin-left: 19%;
                        }
                        &.active{
                            color:$moneyColor;
                            span{
                                &:after{
                                    background-color: $moneyColor;
                                }
                            }
                            label{
                                color:$moneyColor;
                            }
                        }
                    }
                }
            }
        }
    }
    .help{
        width: 100%;
        margin-top: 20px;
        border: 1px solid $headBorderColor;
        span{
            white-space: pre-wrap;
        }
    }
}

#{'/deep/'}{
    .rechargeTip{
        .tip{
            .ico{
                width: 15%;
                display: inline-block;
                text-align: center;
                line-height: 1;
                i{
                    font-size: 28px;
                    color:$textColorLink;
                }
            }
            .show{
                display: inline-block;
                width: 80%;
                vertical-align: top;
                .f{
                    display: block;
                    color:#333;
                }
                .s{
                    display: block;
                    padding-top: 15px;
                    color:#999;
                }
            }
        }
        .member-action{
            margin-top: 20px;
            margin-left: 20px;
            .success{
                display: inline-block;
            }
            .help{
                background: #fff;
                background: transparent;
                padding: 8px 20px;
                display: inline-block;
                font-weight: 400;
            }
        }
    }
}