@import '../siteInfo.common.scss';
@import '../../../../bsbyService.common.scss';
@import '../../../../../../Public/theme/common/keyframes.scss';

$header:#F5F6FA;

$beforeColor:#4E9CF3;
$afterColor:#FF7F23;

.descInfo{
    width: 100%;
    .title{
        padding-left: 20px;
        border-left: 3px solid $textColorLink;
        height: 20px;
        line-height: 20px;
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        .name{
            font-size: 13px;
        }
        .mgr{
            float: right;
            margin-right: 5px;
            cursor: pointer;
            a{
                color:$clickColor;
                padding: 6px;
                border: 1px solid #efefef;
                border-radius: 5px;
                i{
                    position: relative;
                    top: 2px;
                    font-weight: inherit;
                    display: inline-block;
                    &.active{
                        @include setAnimation(
                            rotate360
                        )
                    }
                }
            }
        }
    }
    .main{
        position: relative;
        .tableList{
            position: relative;
            top: 0px;
            left: 0px;
            tr{
                th,
                td{
                    text-align: center;
                }
                &:nth-last-child(1){
                    td{
                        border-bottom: none;
                    }
                }
            }
            .wrapper-content{
                height: initial;
                .wrapper-table{
                    height: initial;
                }
            }
            .desc{
                .show{
                    height: initial;
                    white-space: normal;
                    line-height: 24px;
                    padding: 5px 20px;
                }
            }
        }
    }
}