@import "../theme/common/variable.scss";


.modal-dialog{
	width: 600px;
}

.modal-content {
    border: 0;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
    padding: 0 30px;
    position: absolute;
    z-index: 1500;
    left: 50%;
    margin: 30px 0 30px 0;
    margin-left: -325px;
    background-color: #fff;
    .modal-body{
        span.result{
            width: 100px;
            height: 121px;
            display: inline-block;
            overflow: hidden;
            font-size: 13px;
            & img{
                width: 100px;
                height: 100px;
            }
        }
        .member-action{
            position: relative;
            input.cropperInput{
                display: inline-block;
                width: 128px;
                height: 36Px;
                position: absolute;
                left: 0;
                z-index: 1;
                cursor: pointer;
                opacity: 0;
            }
        }
    }
}

.modal-header {
    padding: 20px 0 16px;
    border-bottom: solid 1px #f3f3f3
}

.modal-header h3 {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    margin: 0
}

.modal-header .modal-close {
    float: right;
    color: #8f8f8f
}

.modal-header .modal-close:hover {
    text-decoration: none;
    color: #696969
}

.modal-body {
    padding: 20px 0
}

.modal-body .sure-card p {
    color: #333;
    font-size: 15px
}

.modal-footer {
    padding: 15px 0
}


/*项目列表样式修改*/
.select-member-panel  .member-panel-body li.member{
    padding: 5px
}

.department-list ul>ul{
    overflow:hidden;
}


.gr-btn{
    border-radius: 3px;
    font-weight: 500;
    border: 0;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 36px;
    font-size: 14px;
    line-height: 1.42857143;
    -moz-user-select: none;
    user-select: none;
    outline: none;
    &[disabled]{
        cursor: not-allowed;
        opacity: .8;
    }
    &.gr-btn-success{
        color: #fff;
        background-color: $buttonColorNormal;
    }
    &.gr-btn-danger{
        color: #fff;
        background-color: $buttonColorDanger;
    }
    &.gr-btn-link{
        color: #999999;
        padding: 8px 25px;
    }
}

.reChoose{
    background: #28b779 !important;
}