<!-- <div class="gr-navbar-title">
	<div class="navbar-text">
		<i class="iconfont_console "></i>
		<span>应用市场</span>
	</div>
	<div class="navbar-menu f-r">
		<ul class="menu-ul clearfix">
			<li class="menu-ul-li f-l {{RouterActive=='my'?'active':''}}"><a href="javascript:;" routerLink="my" (click)="RouterActive='my'">我的应用</a></li>
			<li class="menu-ul-li f-l {{RouterActive==''?'active':''}}"><a href="javascript:;" routerLink="./" (click)="RouterActive=''">应用市场</a></li>
		</ul>
	</div>
</div> -->

<router-outlet></router-outlet>


