<div class="modal-body">

    <div class="member-panel-title">
        <p class="panel-name"><span class="color999">分配对象:</span>{{MembersNameData.real_name}} 等 <span class="color999">{{MembersNameData.total}}</span> 人</p>
        <p class="panel-note color999" *ngIf = "MembersNameData.total!='1'"><span class="">注:  </span>你选择了多个用户，设置后将以新的角色为准</p>
    </div>   

    <div class="select-member-area">
        <div class="row select-member-panel">
            <div class="member-all">
			
                <div class="member-panel-header"><span class="">选择要分配的角色</span></div>

                <div class="member-panel-body">
                    <ul *ngIf = "RoleList.length>0; else loading">
                        <li class="member"
                            *ngFor = "let list of RoleList"
                            (click)="FnIsCheck(list)">
                            <div class="xm-avatar xm-avatar-30 " 
                                 title="星牛云" 
                                 member="member" 
                                 size="30" 
                                 name="true">
                                <div class="xm-avatar-name">{{list.level==0?list['groupname']:'&nbsp;&nbsp;&nbsp;&nbsp;'.repeat(list.level)+'└─'+list['groupname']}}</div>
                            </div>
                            <span class="btn-link-remove f-r">
                                  <i class="iconfont_console  {{list.isCheck==true?'console-gou1':''}}"></i>
                            </span>
                        </li>
                    </ul>                       
                    <ng-template #loading>
                        <div class="loading-indicator">
                            <div class="hor-center">
                                <h4 class="ng-binding">
                                    正在努力加载中，请稍候
                                    <div class="loading-ellipsis">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                      <div class="bounce3"></div>
                                    </div>
                                </h4>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="member-action">

            <button class="gr-btn gr-btn-primary" disabled="{{BtnData.disabled==true?'disabled':''}}"  (click)="FnSaveSet()">{{BtnData.text}}</button>
            <a class="gr-btn gr-btn-link" (click)="Close()">取消</a>

        </div>
    </div>
</div>